<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Home Page | MenStyle Shopping </title>

	<!--start menu -->
	<% include header %>
		<!--end-menu-->
		<!--start slider image-->
		<% include sliderimage%>
			<!--end slider image-->
			<!--start hot products-->
			<div class="about">
				<div class="container">
					<div class="about-top grid-1">
						<div class="col-md-3 about-left">
							<a href="/single">
								<figure class="effect-bubba">
									<img class="img-responsive" src="images/abt-1.jpg" alt="" />
									<figcaption>
										<h2>Hot</h2>
										<p>Shop now</p>
									</figcaption>
								</figure>
							</a>
						</div>
						<div class="col-md-3 about-left">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/abt-2.jpg" alt="" />
								<figcaption>
									<h4>Hot</h4>
									<p>Shop now</p>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 about-left">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/abt-3.jpg" alt="" />
								<figcaption>
									<h4>Hot</h4>
									<p>Shop now</p>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 about-left">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/abt-3.jpg" alt="" />
								<figcaption>
									<h4>Hot</h4>
									<p>Shop now</p>
								</figcaption>
							</figure>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--end hot products-->
			<!--product-starts-->
			<div class="product">
				<div class="container">
					<div class="product-top">
						<div class="product-one">
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="/single" class="mask"><img class="img-responsive zoom-img" src="images/p-1.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches Watches </h3>
										<p>Code: SM003</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-2.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-3.png"  alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-4.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="product-one">
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-5.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-6.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-7.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
									<div class="srch">
										<span>View</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 product-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="/single" class="mask"><img class="img-responsive zoom-img" src="images/p-8.png" alt="" /></a>
									<div class="product-bottom">
										<h3>Smart Watches</h3>
										<p>Explore Now</p>
										<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
									</div>
								</div>
								<div class="srch">
									<span>View</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<!--product-end-->
			<!--footer-begin-->
			<% include footer %>
				<!--footer-end-->